*
{
    margin: 0;
    padding: 0;
}


.intro-2 {
    background: url("https://images.unsplash.com/photo-1532057997301-348078fae427?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80.jpg")no-repeat center center;
    background-size: cover;
}
.view {
    margin-top: -100px;
    
}
.navbar {
    z-index: 0;
}
html,
body,
header,
.view {
    height: 100%;
}

.navbar
{
    position: sticky!important;
}



.phonelink{
    position: fixed; /* Lock location always on the scree */
    bottom: 0; /* Set to the bottom */
    right: 0; /* Set to the right */
    margin: 20px; /* Add space around background */

}
.phoneicon{
    width: 80px; /* Set width of icon */
    height: 80px; /* Set height of icon */
}
@media screen and (max-width: 480px){
    .lgscreenphone{
        display: none;  /* On small screens make phone icon disappear */
    }
    .mbscreenphone{
        display: block; /* On small screens make phone icon appear */
    }
}
@media screen and (min-width: 481px){
    .mbscreenphone{
        display: none; /* On large screens make phone icon disappear */
    }
    .lgscreenphone{
        display: block; /* On large screens make phone icon appear */
    }
}